---
layout: page
title: 'Leetcode'
---

<div id="full-tags-list">
    {% for leet in site.leetcode %}
      {% capture y %}{{leet.date | date:"%Y"}}{% endcapture %}
      {% if year != y %}
        {% assign year = y %}
            <h2 id="{{ y }}" class="linked-section">
            {{ y }}
            </h2>
      {% endif %}
    <div class="post-list">
        <div class="tag-entry">
            <a href="{{- site.url -}}{{- leet.url -}}">{{- leet.title -}}</a>
            <div class="entry-date">
                <time datetime="{{- leet.date | date_to_xmlschema -}}">{{- leet.date | date: "%B %d, %Y" -}}</time>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
